{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <br>
    <!-- {% if already_saved %}
        <div>
            <a>{{ album_name }} is already saved to your library.</a>
        </div>
    {% else %} -->
        <div>
            <a>Saved <b>{{ album_name }}</b> by <b>{{ artist_name }}</b> to your library.</a>
        </div>
    <!-- {% endif %} -->
    <br>
    <div>
        <a>Accident?</a>
        <a href="{% url 'rem_from_lib' %}?album_id={{album_id}}&album_name={{album_name}}&artist_name={{artist_name}}">Remove from library</a>
    </div>
    <br>
    <div>
        <a href="javascript:history.back()">Return to previous page</a>
    </div>
    
    
</html>
{% endblock %}
