{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>All Similar Albums</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mycss.css' %}">
    <form action="{% url 'most_similar_albums' %}" method="get">
        <div style="margin-bottom: 10px;">
            <select name="language_select">
                <option value="Both">English and Spanish (default)</option>
                <option value="English">English Only</option>
                <option value="Spanish">Spanish Only</option>
            </select>
            <button type="submit">Filter</button>
        </div>
    <style>
        table {
            width: 100%; /* Set the table width to 100% of its container */
            border-collapse: collapse; /* Combine cell borders for a cleaner look */
        }

        th, td {
            padding: 1px; /* Add padding to cells for better spacing */
            text-align: left; /* Align cell content to the left */
        }

        th {
            background-color: #f2f2f2; /* Set a background color for the table header */
        }
    </style>
</head>
<body>
    <h1>All Similar Albums</h1>
    <h2>Selected {{ similar_count }} albums (in no particular order) out of {{ all_count }} options </h2>
    <table border="1">
        <thead>
            <tr>
                <th class = "cover-column" >Cover</th>
                <th class = "other-column">Album</th>
                <th class = "other-column">Artist</th>
                <th class = "other-column">Year</th>
                <th class = "pop-column">Popularity</th>
                <th class = "other-column">Length (Min)</th>
                <th class = "other-column">Language</th>
                <th class = "other-column">Save</th>
                <th class = "other-column">Add</th>
            </tr>
        </thead>
        <tbody>
            {% for row in similar_albums %}
                <tr>
                    <td class = "cover-column" ><img src="{{ row.Cover }}" width="50" height="50"></td>
                    <td class = "other-column"><a href="{% url 'album_detail' row.ID %}">{{ row.Album }}</a></td>
                    <td class = "other-column">{{ row.Artist }}</td>
                    <td class = "other-column">{{ row.Year }}</td>
                    <td class = "pop-column">{{ row.Popularity }}</td>
                    <td class = "other-column">{{ row.Duration }}</td>
                    <td class = "other-column">{{ row.Language }}</td>
                    <td class = "other-column"><a href="{% url 'add_to_lib' %}?album_id={{row.ID}}&album_name={{row.Album|urlencode}}&artist_name={{row.Artist|urlencode}}">Save To Your Library</a></td>
                    <td class = "other-column">
                        <a href="{% url 'add_to_completed' row.ID %}">Add To Your Completed List</a>
                        <br>
                        <a href="{% url 'add_to_to_do' row.ID %}">Add To Your To-Do List</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}