.header {
    display: flex;
    justify-content: center; /* aligns center-element to center */
    position: relative; /* relative position to the parent for right-element's absolute positioning */
}

.user-actions {
    width: 100%;
    text-align: center;
    top: 0;
}

.spotify-account {
    position: absolute;
    right: 0; /* places right-element to the far-right of the header */
    top: 0;
    text-align: center;
}

.cover-column {
    width: 50px;
}

.other-column {
    text-align: center;
}

.pop-column {
    text-align: center;
    width: 70px;
}

.please-log-in {
    width: 100%;
    text-align: center;
    top: 0;
}